<a href="https://colab.research.google.com/github/Cadindira/dtreeviz/blob/master/ProbandoPySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Holaa")

Holaa

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 68kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 18.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=a05dd310c60cee9b0983d37bbed6dbff0f07a2b0159556ac5799ffdaee1f4497
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [ ]:
from pyspark.sql import Row
data=(Row(1,"Muhammad",22),
  Row(2,"Abdullah",24),
  Row(3,"Ahmed",44),
  Row(4,"John",55))
data=spark.createDataFrame(data)

In [ ]:
data.collect()

[Row(_1=1, _2='Muhammad', _3=22),
 Row(_1=2, _2='Abdullah', _3=24),
 Row(_1=3, _2='Ahmed', _3=44),
 Row(_1=4, _2='John', _3=55)]

In [ ]:
data.show()

+---+--------+---+
| _1|      _2| _3|
+---+--------+---+
|  1|Muhammad| 22|
|  2|Abdullah| 24|
|  3|   Ahmed| 44|
|  4|    John| 55|
+---+--------+---+

In [ ]:
data.printSchema()

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: long (nullable = true)